<app-header></app-header>
<div class="form-container" *ngIf="!firstInfoChecked">
  <form [formGroup]="examForm" (ngSubmit)="saveCategoryLevel()">
    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <input matInput formControlName="category" placeholder="Ingrese la categoría" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nivel</mat-label>
      <input matInput formControlName="level" placeholder="Ingrese el nivel" required>
    </mat-form-field>

    <button mat-raised-button type="submit">Guardar</button>
  </form>
</div>

<div class="form-container" *ngIf="firstInfoChecked">
  <form [formGroup]="questionForm" (ngSubmit)="agregarPregunta()">
    <mat-form-field appearance="fill">
      <mat-label>Pregunta</mat-label>
      <textarea matInput formControlName="question" placeholder="Ingrese la pregunta" required></textarea>
    </mat-form-field>

    <div *ngFor="let i of respuestaArray; let idx = index">
      <mat-form-field appearance="fill">
        <mat-label>Respuesta {{i + 1}}</mat-label>
        <input matInput [formControlName]="'answer_' + i" placeholder="Ingrese la respuesta {{i + 1}}">
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button type="button" (click)="addRespuesta()">+</button>
      <button mat-raised-button type="button" (click)="removeRespuesta()">-</button>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Respuesta correcta</mat-label>
      <input matInput formControlName="correct_answer" placeholder="Ingrese la respuesta correcta" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Feedback</mat-label>
      <textarea matInput formControlName="feedback" placeholder="Ingrese el feedback"></textarea>
    </mat-form-field>

    <button mat-raised-button type="button" (click)="editarPreguntaAnterior()">Atrás</button>
    <button mat-raised-button type="submit">Guardar Pregunta</button>
  </form>
  <button mat-raised-button type="button" (click)="enviar()">Enviar Todo</button>
</div>
