.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;


  }
.register-title{
  font-size: 20px;
}
  .form-container form {
    width: 17%;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
  }
  .form-container .register-title{
    color:white;
  }
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .mat-raised-button {
    width: 100%;
  }

  .mat-error-password {
    background-color: rgb(1, 185, 185);
    color:white;
    border-radius: 20px;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: fixed;
    margin-top:-32%;
    left:145%;
    width: 90%;
  }

  .additional-links {
    text-align: center;
    margin-top: -10%;
    margin-left: 42%;
  }
  .register-bottom{
    margin-left: -12%;
    color: white;
  }
  p a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
