<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Ingrese su email"
      />
      @if (loginForm.get('email')?.hasError('required')) {
      <mat-error>El email es obligatorio</mat-error>
      } @if (loginForm.get('email')?.hasError('email')) {
      <mat-error>Email inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Ingrese su contraseña"
      />
      @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>La contraseña es obligatoria</mat-error>
      }
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" type="submit">
      Iniciar sesión
    </button>

    <div class="additional-links">
      <p>
        ¿Olvidaste tu Contraseña? <br />
        Recupérala <a (click)="navigateResetPassword()"> Aquí</a>
      </p>
      <br />
      <p>
        ¿No tienes cuenta?
        <a (click)="navigateRegister()">Regístrate</a>
      </p>
    </div>
  </form>
</div>
