.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.register-title{
  font-size: 20px;
}
.form-container form {
    width: 18%;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    padding: 2% 2% 2% 5%;
    border-radius: 20px;
}

.form-container .register-title {
    color: white;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.mat-raised-button {
    width: 100%;
}

.mat-error-password {
    position: fixed;
    margin-top: -32%;
    left: 110%;
    width: 120%;
}

.additional-links {
    text-align: center;
    margin-top: -14%;
    margin-left: 42%;
}

.register-bottom {
    margin-left: -12%;
    color: white;
}
p {
  color:white;
}
p a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
