<app-header></app-header>
<div class="container">
  <div class="category-container">
    @for (category of categories; track categories) {
    <mat-card>
      <button mat-raised-button color="accent">
        {{ category.name }} ({{ category.count_questions }})
      </button>
    </mat-card>
    }
  </div>

  <div class="selector-container">
    <mat-select placeholder="Dificultad">
      @for (difficulty of difficulties; track difficulties) {
      <mat-option>
        {{ difficulty }}
      </mat-option>
      }
    </mat-select>
    <mat-select placeholder="Nº Tests">
      @for (count of testCounts; track count) {
      <mat-option>
        {{ count }}
      </mat-option>
      }
    </mat-select>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="navigateTest()">
      ¡INICIAR TEST!
    </button>
  </div>
</div>
