<app-header></app-header>
<div class="container">
  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <div class="category-container">
      @for (category of categories; track categories) {
      <mat-card
        (click)="selectCategory(category)"
        [class.selected]="selectedCategory?.name === category.name"
      >
        <button mat-raised-button color="accent" type="button">
          {{ category.name }} ({{ category.count_questions }})
        </button>
      </mat-card>
      }
    </div>

    <div class="selector-container">
      <mat-form-field appearance="fill">
        <mat-label>Dificultad</mat-label>
        <mat-select formControlName="difficulty" placeholder="Dificultad">
          @for (difficulty of difficulties; track difficulties) {
          <mat-option [value]="difficulty">{{ difficulty }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nº Tests</mat-label>
        <mat-select formControlName="testCount" placeholder="Nº Tests">
          @for (count of testCounts; track count) {
          <mat-option [value]="count">{{ count }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">
        INICIAR TEST
      </button>
    </div>
  </form>
</div>
