<app-header></app-header>
@if (!getExamFinished()) {
<div class="main-container">
  <div class="test-container">
    <h1>{{ questions[currentQuestionIndex].category }}</h1>
    <p>Preguntas: {{ currentQuestionIndex + 1 }}/{{ questions.length }}</p>
    <p>Acertadas: {{ score }}/{{ questions.length }}</p>

    <mat-card>
      <h3>{{ questions[currentQuestionIndex].question }}</h3>
      <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div
          formArrayName="answers"
          *ngFor="
            let answer of questions[currentQuestionIndex].answers | keyvalue;
            let i = index
          "
        >
          <button
            type="button"
            class="answer-button"
            [class.selected]="answers.at(i).value"
            [class.correct]="
              answersSelected &&
              answer.key === questions[currentQuestionIndex].correct_answer
            "
            [class.incorrect]="
              answersSelected &&
              answers.at(i).value &&
              answer.key !== questions[currentQuestionIndex].correct_answer
            "
            (click)="selectAnswer(i)"
          >
            {{ answer.value }}
          </button>
        </div>
        <br />
        <div class="next-button-container">
          @if (!answersSelected) {
          <button mat-raised-button color="primary" type="submit">
            Corregir
          </button>
          } @if (answersSelected) {
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="nextQuestion()"
          >
            Siguiente
          </button>
          }
        </div>
      </form>
    </mat-card>
    @if (answersSelected && questions[currentQuestionIndex].feedback) {
    <div class="feedback">
      <p>{{ questions[currentQuestionIndex].feedback }}</p>
    </div>
    }
  </div>
</div>
}@else {
  <app-final-exam-view></app-final-exam-view>
}
